{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg" >
    <H1 class="heading">ImageGuard</H1>
    <main>
        
        <section class="hero">
            <h1>Welcome to Forgery Detection</h1>
            <p>Protecting Your Digital Assets</p>
        </section>
</div> 
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 my-auto">
        <!-- <div class="logo text-center mb-3"><img src="{% static 'images/logo1.png'%}" alt="Logo" ></div> -->
        <div class="logo text-center mb-3 pt-4"><h1>Image Forgery Detection</h1></div>
        <div class="width-400">
          <form class="form" method="POST" enctype="multipart/form-data" name="image-upload" id="image-upload">
            {% csrf_token %}
            <div class="form-group">
              <label>{{ form.upload_image_file.label }}</label>
              {{ form.upload_image_file }}
              {% if form.upload_image_file.errors %}
                {% for each_error in form.upload_image_file.errors %}
                  <div class="alert alert-danger mt-1">
                    {{ each_error }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            <button id="imageUpload" type="submit" name="submit" class="btn btn-success mt-3 btn-block">Upload Image</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

